
/*Define the main color palette*/

:root {

  /*Color palette*/
  --fifty_black: #0a0a0a;
  --fifty_emerald: #0c5849;
  --fifty_muted_emerald: #0c584996;
  --fifty_green: #6cae75;
  --fifty_green2: #457a2ca6;
  --fifty_muted_green: #6cae7596;
  --fifty_limegreen: #88b05c;
  --fifty_achiote: #8d3c42;
  --fifty_muted_achiote: #8d3c4296;
  --fifty_white: #fff;
  --fifty_gray: #e8e5e1;
  --fifty_brown: #a95f46;
  --fifty_font: andes-regular;
  --fifty_disabled: rgb(0 0 51 / 30%);

  --navbar-default-bg: var(--fifty_white);
  --navbar-inverse-bg: var(--fifty_emerald);
  --navbar-hover-color: var(--fifty_emerald);
  --navbar-brand-color: var(--fifty_emerald);
  --navbar-link-color: var(--fifty_emerald);
  --navbar-disabled-color: var(--fifty_gray);

  --accordion-color: var(--fifty_emerald);
  --accordion-bg: var(--fifty_white);

  --accordion-active-color: var(--fifty_white);
  --accordion-active-bg: var(--fifty_green2);

  /*Font sizes*/
  --navbar-brand-font-size: 1.6rem;

}

/*Distance between the title of the app and menu items*/
body > nav > div{
  gap: 20vw;
}

/*App Title*/

.navbar-brand {
    font-size: var(--navbar-brand-font-size);
    color: var(--navbar-brand-color);
    font-weight: bold;
}

.navbar-brand:hover,.navbar-brand:focus {
    color: var(--navbar-brand-color);
}


/*Navigation bar*/

.bslib-page-navbar>.navbar,
.bslib-page-dashboard>.navbar {
    --bslib-navbar-default-bg: var(--navbar-default-bg);
    --bslib-navbar-inverse-bg: var(--navbar-inverse-bg);
}

.navbar-nav {
    --bs-nav-link-color: var(--navbar-link-color);
    --bs-nav-link-hover-color: var(--navbar-hover-color);
    --bs-nav-link-disabled-color: var(--navbar-disabled-color);
}

.navbar-nav .nav-link.active,.navbar-nav .nav-tabs>li>a.active,.navbar-nav .nav-pills>li>a.active,.navbar-nav :where(ul.nav.navbar-nav > li)>a.active,.navbar-nav .nav-link.show,.navbar-nav .nav-link.in,.navbar-nav .nav-tabs>li>a.show,.navbar-nav .nav-tabs>li>a.in,.navbar-nav .nav-pills>li>a.show,.navbar-nav .nav-pills>li>a.in,.navbar-nav :where(ul.nav.navbar-nav > li)>a.show,.navbar-nav :where(ul.nav.navbar-nav > li)>a.in {
    color: var(--fifty_achiote);
}

/*Buttons*/
.btn-outline-default, .btn-default:not(.btn-primary,.btn-secondary,.btn-info,.btn-success,.btn-danger,.btn-warning,.btn-light,.btn-dark,.btn-link,[class*="btn-outline-"]) {
    --bs-btn-color: var(--fifty_white)!important;
    --bs-btn-bg: var(--fifty_green)!important;
    --bs-btn-border-color: var(--fifty_green)!important;
    --bs-btn-hover-color: var(--fifty_green)!important;
    --bs-btn-hover-bg: var(--fifty_white)!important;
    --bs-btn-hover-border-color: var(--fifty_green)!important;
    --bs-btn-focus-shadow-rgb: 64, 64, 64;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--fifty_green)!important;
    --bs-btn-active-border-color: var(--fifty_green)!important;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
    --bs-btn-disabled-color: var(--fifty_green)!important;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: var(--fifty_green)!important;
    --bs-btn-bg: transparent;
    --bs-gradient: none;
}

.btn {
    font-size: 14px;
    border-radius: 10px;
    --bs-btn-padding-x: 1em!important;
    --bs-btn-padding-y: .8em!important;
}

.btn:focus,
.btn:hover{
      background: var(--fifty_white)!important;
      color: var(--fifty_green)!important;
}


.accordion-button {
  font-weight: bold;
}

.accordion-item {
    color: var(--bs-accordion-color);
    background-color: var(--bs-accordion-bg);
    border: var(--bs-accordion-border-width) solid
    var(--bs-accordion-border-color) !important;
    margin: 1.1rem 0;
}


/*Parent accordions*/

.accordion-button.collapsed{
    color: var(--accordion-color);
    background-color: var(--accordion-bg);
}


.accordion-button:not(.collapsed) {
    color: var(--accordion-active-color);
    background-color: var(--accordion-active-bg);

}

/* Nested accordions */

/* Indent titles of nested accordions */
.accordion .accordion .accordion-button {
  /*padding-inline-start: 2rem;*/
  border-botom: 1px solid;
}

/* Accordions should have a maroon background with white text when collapsed*/
.accordion .accordion .accordion-button.collapsed {
  color: white;
  background-color: var(--fifty_achiote);
}

/* Accordions should have white background with maroon text when not collapsed*/
.accordion .accordion .accordion-button:not(.collapsed) {
  color: var(--fifty_achiote);
  background-color: white;
}

.accordion .accordion .accordion-header .accordion-button:not(.collapsed) .accordion-title{
    text-decoration: underline;
    text-underline-offset: 5px;
}


hr {
    margin: 3rem 0;
    border-color: :var(--fifty_achiote)!important;
    border: 0;
    border-top: 2px solid;
    opacity: 1;
}


#toast-container>.toast-error{
  background: red!important;
  background-image: none!important;
}
#toast-container > div > div.toast-message{
  font-size: 18px;
}

.waiter-overlay .waiter-fullscreen{
  background-color: var(--fifty_achiote);
}

.bslib-sidebar-layout>.sidebar>.sidebar-content>.accordion .accordion-body {
    display: flex;
    gap: 2rem;
    flex-direction: column;
}
